<div class="container">
  <h1>グループを作る</h1>
  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <hr>
  <%= form_for(@family_group) do |f| %>
  <div class="field">
    <%= f.label :グループの名前 %><br>
    <%= f.text_field :family_name %>
  </div><br>

  <div class="field">
    <%= f.label :グループID（半角英数字8字） %><br>
    <%= f.text_field :family_group_id %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
