   <hr>
   <h2>本日のアンケート</h2>
   <% if flash[:success] %>
   <div class="alert alert-success">
     <%= flash[:success] %>
   </div>
   <% end %>

   <table class="table table-resposive">
     <tr>
       <td><P>１：<%= @questionnaires.last.dinner_name1 %></p></td>
       <td><%= form_for(AnswerCount.new, url: questionnaire_answer_counts_path(@questionnaires.last.id)) do |f| %>
            <%= f.hidden_field :dinner, value: @questionnaires.last.dinner_name1 %>
            <%= f.submit "投票", class: "btn btn-success" %>
            <% end %> </td>
       <td><%= @answer_counts1.count %></td>
     </tr>
     <tr>
       <td><P>２：<%= @questionnaires.last.dinner_name2 %></p></td>
       <td><%= form_for(AnswerCount.new, url: questionnaire_answer_counts_path(@questionnaires.last.id)) do |f| %>
            <%= f.hidden_field :dinner, value: @questionnaires.last.dinner_name2 %>
            <%= f.submit "投票", class: "btn btn-success" %>
            <% end %> </td>
       <td><%= @answer_counts2.count %></td>
     </tr>
     <tr>
       <td><P>３：<%= @questionnaires.last.dinner_name3 %></p></td>
       <td><%= form_for(AnswerCount.new, url: questionnaire_answer_counts_path(@questionnaires.last.id)) do |f| %>
            <%= f.hidden_field :dinner, value: @questionnaires.last.dinner_name3 %>
            <%= f.submit "投票", class: "btn btn-success" %>
            <% end %> </td>
       <td><%= @answer_counts3.count %></td>
     </tr>
     <tr>
       <td><P>４：<%= @questionnaires.last.dinner_name4 %></p></td>
       <td><%= form_for(AnswerCount.new, url: questionnaire_answer_counts_path(@questionnaires.last.id)) do |f| %>
            <%= f.hidden_field :dinner, value: @questionnaires.last.dinner_name4 %>
            <%= f.submit "投票", class: "btn btn-success" %>
            <% end %> </td>
       <td><%= @answer_counts4.count %></td>
     </tr>
   </table>
